.main-portfolio
  padding: 66px 0 118px 0
  +lg
    padding: 66px 0 70px 0
  +md
    padding: 26px 0 43px 0

  .tab-nav
    margin-bottom: 40px
  
    .active
      border-color: transparent
      color: $white
      background-color: $mid_blue
    +md
      display: none

    &__list
      display: flex
      justify-content: flex-end
      align-items: center
      gap: 16px
      +lg
        gap: 5px

    &__link
      font-weight: 400
      font-size: 15px
      line-height: 28px
      color: $light-gray
      border: 1px solid #AFAFAF
      padding: 5px 10.4px
      border-radius: 20px
      transition: all 0.3s ease
      span
        padding: 5px 10.4px
      +lg
        font-size: 14px

      &:hover
        border-color: transparent
        color: $white
        background: rgba($mid_blue, 0.5)

  .tab-content

    .animate__animated
      animation-duration: 1.5s
      animation-name: fadeIn 
      animation-delay: 0.6s
      animation-timing-function: ease-in-out

    .animate__fadeIn

      @keyframes fadeIn

        0%
          filter: brightness(0.9)
        
        50%
          filter: brightness(1.10)

        75%
          filter: brightness(0.95)

        100%
          filter: brightness(1)

    &__item
      display: none
 
    .active
      display: block

    &__hover
      +md 
        // pointer-events: none

    &__inner
      padding: 23px 0 33px 50px
      border-left: 2.5px solid
      border-image: $gradient_plate 1
      +xxxl
        padding: 23px 0 33px 43px
      +xl 
        padding: 23px 0 33px 25px

      &--bottom
        border-bottom: 2.5px solid
        border-image: $gradient_plate 1
      +lg
        padding: 10px 0 15px 15px
      +md
        display: none

    &__title
      display: inline-block
      margin-bottom: 32px
      max-width: 486px
      color: $dark_blue
      +xl 
        font-size: 33px
      +lg 
        font-size: 25px
        margin-bottom: 10px

    &__str
      display: inline-block
      max-width: 439px
      font-weight: 400
      font-size: 16px
      line-height: 28px
      letter-spacing: 0.02em
      color: $dark_blue
      margin-bottom: 53px
      +xl 
        max-width: 385px
      +lg 
        font-size: 16px
        max-width: 295px
        margin-bottom: 20px

    &__text
      display: flex
      justify-content: space-between
      align-items: center
      padding-top: 30px
      border-top: 1px solid $dark_blue
      +lg
        padding-top: 20px

    &__security
      font-weight: 400
      font-size: 15px
      line-height: 18px
      color: $grey-color

    &__box
      position: relative
      &::after
        content: ''
        transition: all 0.3s linear
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%
        height: 100%
        background: rgba($dark_blue , 0.15)
        opacity: 0
      +xl 
        height: 100%

    &__images
      width: 100%
      height: 366px
      object-fit: cover
      +xl
        height: 100%

    &__hover:hover .tab-content__box::after
      content: ''
      opacity: 1
      +md
        opacity: 0

    &__inner
      transition: all 0.5s ease
      width: 100%

    &__hover:hover .tab-content__inner
      width: 92%

    &__hover:hover .tab-content__title
      color: $hover

    &__hover:hover .tab-content__str
      color: $hover

  .columns
    transition: all 0.3s ease
    padding-top: 50px
    +sm
      padding-top: 20px

    &__img 
      height: 285px
      object-fit: cover
      width: 100%
      +sm
        height: 165px

    &__inner
      margin-bottom: 16px
      position: relative
      +sm
        margin-bottom: 11px
      &::after
        content: ''
        transition: all 0.3s linear
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%
        height: 100%
        background: rgba($dark_blue , 0.15)
        opacity: 0

    &__block-hover
      +md
        pointer-events: none

    &__block-hover:hover .columns__inner::after
      content: ''
      opacity: 1

    &__block-hover:hover .columns__subtitle
      color: $hover


    &__block-hover:hover .columns__date
      &::before
        content: ''
        width: 85%

    &__date
      padding-top: 22.44px
      margin-bottom: 42px
      color: $dark_blue
      position: relative
      &::before
        content: ''
        transition: all 0.5s ease
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 1px
        background: $dark_blue
      +sm
        margin-bottom: 20px

    &__subtitle
      max-width: 254px
      height: 93px
      font-weight: 700
      font-size: 24px
      line-height: 31px
      letter-spacing: 0.02em
      color: $dark_blue
      margin-bottom: 18px
      margin-right: 14px
      +md
        font-size: 20px
        margin-bottom: 10px
      +sm
        font-size: 16px
        line-height: 20px
        max-width: 156px
        height: 64px

    &__line
      border: 1px solid $dark_blue
      margin: 0
      margin-bottom: 21px
      +sm
        margin-bottom: 13px

    &__date
      +sm
        font-size: 11px
        line-height: 13px

  &__wrapper
    display: none
    +md
      display: block

  &__rental
    background: $gradient_plate
    padding: 18.83px 17.5px 10.42px 0

    &-title
      max-width: 261px
      color: $white
      margin-left: 21.5px
      font-size: 22px
      line-height: 28px

    &-date
      color: $white
      margin-left: 21.5px
      font-size: 11px
      line-height: 13px

  &__line
    position: absolute
    top: 95px
    left: 0
    width: 80%
    border: 1px solid $white
    margin: 0 68px 13.5px 0
    opacity: 0.75

  &__icon
    position: unset
    height: 35px
    width: 35px

  &__inner
    display: flex
    justify-content: flex-end
    align-items: center
    position: relative
    &:after
      content: ''
      position: absolute
      top: 17px
      left: 0
      height: 1px
      width: 85%
      background: $white

  &__title
    display: block
    margin-bottom: 18px
    color: $mid_blue