.main-portfolio
  padding: 66px 0 146px 0

  &__wrap
    display: flex
    justify-content: flex-end

  &__item
    width: 755px
    display: flex
    justify-content: space-between
    align-items: center
    
  &__link
    font-weight: 400
    font-size: 15px
    line-height: 28px
    color: $light-gray
    &:hover
      color: $dark_blue
    &--admissible
      padding: 5px 20px
    &--active
      border: none
