  <!-- Footer-->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
  </footer>

  <!-- POPUPS -->
  <!--#include virtual="/parts/layout/popups.html" -->

  <!-- Scripts -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie.min.js"
    integrity="sha512-fTTVSuY9tLP+l/6c6vWz7uAQqd1rq3Q/GyKBN2jOZvJSLC5RjggSdboIFL1ox09/Ezx/AKwcv/xnDeYN9+iDDA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="js/libs.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>