  <!-- Footer-->
  <footer class="footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer__top-left">
          <h5 class="footer__top-location">55 East 52nd Street 17 Fl New York NY 10055</h5>
          <a href="tel:+12125931000" class="footer__top-tel">+1 212 593 1000</a>
        </div>
        <div class="footer__top-right">
          <a href="#" class="footer__top-social">
            <svg class='icon icon--twitter'>
              <use xlink:href='assets/svg-sprite.svg#twitter'></use>
            </svg>
          </a>
          <ul class="footer__top-list">
            <li class="footer__top-item">
              <a href="#" class="footer__top-link">Privacy Policy</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-link">Cookies</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__bottom-info">© 2023 <span>Sunny Security Labs FSZO.</span> All rights reserved.</div>
      </div>
    </div>
  </footer>

  <!-- POPUPS -->
  <!--#include virtual="/parts/layout/popups.html" -->

  <!-- Scripts -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie.min.js"
    integrity="sha512-fTTVSuY9tLP+l/6c6vWz7uAQqd1rq3Q/GyKBN2jOZvJSLC5RjggSdboIFL1ox09/Ezx/AKwcv/xnDeYN9+iDDA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="js/libs.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>