<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a class="header__logo-link logo-light" href="index.html">
        <img class="header__logo" src="assets/images/logo.svg" alt="logo" />
      </a>
      <a class="header__logo-link logo-dark" href="index.html">
        <img class="header__logo" src="assets/images/logo-light.svg" alt="logo-light" />
      </a>
      <nav class="header__menu">
        <ul class="menu">
          <li class="item">
            <a class="link" href="security.html">
              <span>Services</span>
              <svg class="icon icon--arrow-bottom"><use xlink:href="assets/svg-sprite.svg#arrow-bottom"></use></svg>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="security.html">Security Audit</a>
              </li>
              <li>
                <a href="development.html">Development</a>
              </li>
              <li>
                <a href="consulting.html">Consulting</a>
              </li>
              <li>
                <a href="outstuffing.html">Outstuffing</a>
              </li>
            </ul>
          </li>
          <li class="item">
            <a class="link" href="blockchain.html">
              <span>Solutions</span>
              <svg class="icon icon--arrow-bottom"><use xlink:href="assets/svg-sprite.svg#arrow-bottom"></use></svg>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="blockchain.html">Blockchain</a>
              </li>
              <li>
                <a href="web.html">Web3</a>
              </li>
              <li>
                <a href="ai-solutions.html">AI Solutions</a>
              </li>
            </ul>
          </li>
          <li class="item">
            <a class="link" href="portfolio.html">Portfolio</a>
          </li>
          <li class="item">
            <a class="link" href="blog.html">Blog</a>
          </li>
          <li class="item">
            <a class="link js-popup" href="#request">Request a quote</a>
          </li>
          <li class="item">
            <a class="link" href="about.html">About us</a>
          </li>
        </ul>
      </nav>
      <div class="header__btn-wrap">
        <a href="#" class="header__social-link">
          <svg class="icon icon--menu-whatsapp"><use xlink:href="assets/svg-sprite.svg#menu-whatsapp"></use></svg>
        </a>
        <div class="header__hamburger-btn">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-menu">
  <div class="mobile-menu__header">
    <a href="index.html" class="mobile-menu__logo-link">
      <img class="header__logo" src="assets/images/logo.svg" alt="logo" />
    </a>
    <div class="mobile-menu__close-btn">
      <span></span>
      <span></span>
    </div>
  </div>
  <nav class="mobile-menu__menu">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Services</a>
        <ul class="mobile-menu__sublist mobile-menu__sublist--first">
          <li class="mobile-menu__subitem"><a href="security.html" class="mobile-menu__sublink">Security Audit </a></li>
          <li class="mobile-menu__subitem"><a href="development.html" class="mobile-menu__sublink">Development</a></li>
          <li class="mobile-menu__subitem"><a href="consulting.html" class="mobile-menu__sublink">Consulting</a></li>
          <li class="mobile-menu__subitem"><a href="outstuffing.html" class="mobile-menu__sublink">Outstuffing</a></li>
        </ul>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Solutions</a>
        <ul class="mobile-menu__sublist mobile-menu__sublist--second">
          <li class="mobile-menu__subitem"><a href="web.html" class="mobile-menu__sublink">Web3</a></li>
          <li class="mobile-menu__subitem"><a href="blockchain.html" class="mobile-menu__sublink">Blockchain </a></li>
          <li class="mobile-menu__subitem">
            <a href="ai-solutions.html" class="mobile-menu__sublink">AI Solutions</a>
          </li>
        </ul>
      </li>
      <li class="mobile-menu__item">
        <a href="portfolio.html" class="mobile-menu__link">Portfolio</a>
      </li>
      <li class="mobile-menu__item">
        <a href="blog.html" class="mobile-menu__link">Blog</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#request" class="mobile-menu__link mobile-menu__link--iconed js-popup">
          <span>Request a quote</span>
          <svg class="icon icon--mobile-whatsapp">
            <use xlink:href="assets/svg-sprite.svg#mobile-whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="about.html" class="mobile-menu__link">About us</a>
      </li>
    </ul>
  </nav>
</div>
