<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="#" class="header__logo-link">
        <img class="header__logo" src="assets/images/logo.svg" alt="logo" />
      </a>
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__item menu-link">
            <a href="#" class="header__link header__link--first">
              <span>Services</span>
              <svg class="icon icon--arrow-bottom"><use xlink:href="assets/svg-sprite.svg#arrow-bottom"></use></svg>
            </a>
            <ul class="header__sub-list">
              <li class="header__sub-item"><a href="#" class="header__sub-link">Security Audit</a></li>
              <li class="header__sub-item"><a href="#" class="header__sub-link">Development</a></li>
              <li class="header__sub-item"><a href="#" class="header__sub-link">Consulting</a></li>
              <li class="header__sub-item"><a href="#" class="header__sub-link">Outstuffing</a></li>
            </ul>
          </li>
          <li class="header__item menu-link">
            <a href="#" class="header__link header__link--second">
              <span>Solutions</span>
              <svg class="icon icon--arrow-bottom"><use xlink:href="assets/svg-sprite.svg#arrow-bottom"></use></svg>
            </a>
            <ul class="header__sub-list">
              <li class="header__sub-item"><a href="#" class="header__sub-link">Blockchain</a></li>
              <li class="header__sub-item"><a href="#" class="header__sub-link">Web3</a></li>
              <li class="header__sub-item"><a href="#" class="header__sub-link">AI Solutions</a></li>
            </ul>
          </li>
          <li class="header__item menu-link">
            <a href="#" class="header__link">Portfolio</a>
          </li>
          <li class="header__item menu-link">
            <a href="#" class="header__link">Blog</a>
          </li>
          <li class="header__item menu-link">
            <a href="#" class="header__link">Request a quote</a>
          </li>
          <li class="header__item menu-link">
            <a href="#" class="header__link">About us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
