<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="index.html" class="header__logo-link">
        <img class="header__logo" src="assets/images/logo.svg" alt="logo">
      </a>
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__item header__item--dark menu-link">
            <a href="security.html" class="header__link header__link--dark header__link--first">
              <span>Services</span>
              <svg class="icon icon--arrow-bottom"><use xlink:href="assets/svg-sprite.svg#arrow-bottom"></use></svg>
            </a>
            <ul class="header__sub-list">
              <li class="header__sub-item">
                <a href="security.html" class="header__sub-link header__sub-link--dark">Security Audit</a>
              </li>
              <li class="header__sub-item">
                <a href="development.html" class="header__sub-link header__sub-link--dark">Development</a>
              </li>
              <li class="header__sub-item">
                <a href="consulting.html" class="header__sub-link header__sub-link--dark">Consulting</a>
              </li>
              <li class="header__sub-item">
                <a href="outstuffing.html" class="header__sub-link header__sub-link--dark">Outstuffing</a>
              </li>
            </ul>
          </li>
          <li class="header__item header__item--dark menu-link">
            <a href="blockchain.html" class="header__link header__link--dark header__link--second">
              <span>Solutions</span>
              <svg class="icon icon--arrow-bottom"><use xlink:href="assets/svg-sprite.svg#arrow-bottom"></use></svg>
            </a>
            <ul class="header__sub-list">
              <li class="header__sub-item">
                <a href="blockchain.html" class="header__sub-link header__sub-link--dark">Blockchain</a>
              </li>
              <li class="header__sub-item">
                <a href="web.html" class="header__sub-link header__sub-link--dark">Web3</a>
              </li>
              <li class="header__sub-item">
                <a href="ai-solutions.html" class="header__sub-link header__sub-link--dark">AI Solutions</a>
              </li>
            </ul>
          </li>
          <li class="header__item menu-link">
            <a href="portfolio.html" class="header__link header__link--dark">Portfolio</a>
          </li>
          <li class="header__item menu-link">
            <a href="blog.html" class="header__link header__link--dark">Blog</a>
          </li>
          <li class="header__item menu-link">
            <a href="#request" class="header__link header__link--dark js-popup">Request a quote</a>
          </li>
          <li class="header__item menu-link">
            <a href="about.html" class="header__link header__link--dark">About us</a>
          </li>
        </ul>
      </nav>
      <div class="header__btn-wrap">
        <a href="#" class="header__social-link">
          <svg class="icon icon--menu-whatsapp"><use xlink:href="assets/svg-sprite.svg#menu-whatsapp"></use></svg>
        </a>
        <div class="header__hamburger-btn header__hamburger-btn--dark">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-menu">
  <div class="mobile-menu__header">
    <a href="#" class="mobile-menu__logo-link">
      <img class="header__logo" src="assets/images/logo.svg" alt="logo" />
    </a>
    <div class="mobile-menu__close-btn">
      <span></span>
      <span></span>
    </div>
  </div>
  <nav class="mobile-menu__menu">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Services</a>
        <ul class="mobile-menu__sublist mobile-menu__sublist--first">
          <li class="mobile-menu__subitem"><a href="security.html" class="mobile-menu__sublink">Security Audit </a></li>
          <li class="mobile-menu__subitem"><a href="development.html" class="mobile-menu__sublink">Development</a></li>
          <li class="mobile-menu__subitem"><a href="consulting.html" class="mobile-menu__sublink">Consulting</a></li>
          <li class="mobile-menu__subitem"><a href="outstuffing.html" class="mobile-menu__sublink">Outstuffing</a></li>
        </ul>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Solutions</a>
        <ul class="mobile-menu__sublist mobile-menu__sublist--second">
          <li class="mobile-menu__subitem"><a href="web.html" class="mobile-menu__sublink">Web3</a></li>
          <li class="mobile-menu__subitem"><a href="blockchain.html" class="mobile-menu__sublink">Blockchain </a></li>
          <li class="mobile-menu__subitem">
            <a href="ai-solutions.html" class="mobile-menu__sublink">AI Solutions</a>
          </li>
        </ul>
      </li>
      <li class="mobile-menu__item">
        <a href="portfolio.html" class="mobile-menu__link">Portfolio</a>
      </li>
      <li class="mobile-menu__item">
        <a href="blog.html" class="mobile-menu__link">Blog</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#request" class="mobile-menu__link mobile-menu__link--iconed js-popup">
          <span>Request a quote</span>
          <svg class="icon icon--mobile-whatsapp">
            <use xlink:href="assets/svg-sprite.svg#mobile-whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="about.html" class="mobile-menu__link">About us</a>
      </li>
    </ul>
  </nav>
</div>
