<!-- Request popup -->
<div class="mfp mfp--request-popup zoom-anim-dialog mfp-hide" id="request">
  <div class="quote">
    <div class="quote__title">Request a quote</div>
    <form action="#" method="post" class="quote__form">
      <div class="input-wrap">
        <input class="input" type="text" name="name" placeholder="Full Name" required="required" />
      </div>
      <div class="input-wrap">
        <input class="input" type="text" name="company" placeholder="Company" required="required" />
      </div>
      <select name="select" class="select js-choice">
        <option class="placeholder" value="">General-requests</option>
        <option class="option" value="web-3">Web 3.0</option>
        <option class="option" value="blockchain">Blockchain</option>
        <option class="option" value="ai-solutions">AI Solutions</option>
        <option class="option" value="security-audit">Security Audit</option>
        <option class="option" value="development">Development</option>
        <option class="option" value="consulting">Consulting</option>
        <option class="option" value="oustuffing">Outstuffing</option>
      </select>
      <div class="input-wrap">
        <input class="input" type="email" name="email" placeholder="E-mail" required="required" />
      </div>
      <textarea class="textarea" name="textarea" placeholder="Request"></textarea>
      <button class="btn" type="submit">Submit</button>
      <div class="message_form">Thank you! We will connect with you soon</div>
    </form>
  </div>
</div>

<div class="mfp mfp--book-consultation zoom-anim-dialog mfp-hide" id="consultation">
  <div class="consultation">
    <div class="consultation__title">Book a consultation</div>
    <form action="#" class="consultation__form">
      <div class="input-wrap">
        <input name="username" type="text" class="input" placeholder="Full Name" />
      </div>
      <div class="input-wrap">
        <input name="usercompany" type="text" class="input" placeholder="Company" />
      </div>
      <select name="select" class="select js-choice">
        <option class="option" value="">General requests</option>
        <option class="option" value="web-3">Web 3.0</option>
        <option class="option" value="blockchain">Blockchain</option>
        <option class="option" value="ai-solutions">AI Solutions</option>
      </select>
      <div class="input-wrap">
        <input name="useremail" type="email" class="input" placeholder="E-mail" />
      </div>
      <button class="btn" type="submit">submit</button>
      <div class="message_form_book">Thank you! We will connect with you soon</div>
    </form>
  </div>
</div>

<div class="cookie-alert cookie-alert--js">
  <div class="cookie-alert__content">
    <p class="cookie-alert__text">
      We use cookies to enhance your browser experience, serve personalized content and analyze our traffic. By clicking
      «Accept All», you consent to our use of cookies. Visit our <a href="cookies.html">Cookie policy</a> for more
      information.
    </p>
    <div class="cookie-alert__btn-wrap">
      <button class="reject-btn reject-btn--js">reject all</button>
      <button class="accept-btn accept-btn--js">accept all</button>
    </div>
  </div>
</div>
