.btn
  position: relative
  display: inline-block
  text-align: center
  text-decoration: none
  border: none
  outline: none
  transition: all .3s ease
  user-select: none
  padding: 0
  &:focus:not(.disabled),
  &:hover:not(.disabled)
    outline: none
    cursor: pointer
    color: #fff
    text-decoration: none

  &:active:not(.disabled)

  &.disabled
    opacity: .4
