input,
textarea
  width: 100%
  transition: all .3s ease
  border: none
  &:focus
    outline: none
  &:disabled
    background: #fff

::placeholder
  color: #999

.quote-form
  display: flex
  flex-direction: column

  &__label
    border-bottom: 1px solid $light_grey
    height: 43.5px
    margin-bottom: 23.5px

  &__label--mb35
    margin-bottom: 35.5px

  &__spoiler
    border-bottom: 1px solid $light_grey
    height: 43.5px
    margin-bottom: 23.5px

    &-wrap
      position: relative
      background: $mid_blue
      z-index: 3

    &-wrap.active
      border: 2px solid $white
      margin-left: -20px
      margin-right: -20px
      padding: 8px 20px 11px

    &-btn
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
      border: none
      background: transparent
      color: $light_grey
      font-weight: 400
      font-size: 20px
      line-height: 34px
      letter-spacing: 0.01em
      padding: 0

    &-btn.active
      .icon--quote-arrow
        transition: all 0.4s ease
        transform: rotate(180deg)

    &-list
      display: none

    &-item
      font-weight: 400
      font-size: 20px
      line-height: 36px
      letter-spacing: 0.01em

    &-link
      color: $white
      &:hover
        color: $white

  &__input
    background: transparent
    color: $light_grey
    font-weight: 400
    font-size: 20px
    line-height: 34px
    letter-spacing: 0.01em
    padding: 0
    &::placeholder
      font-weight: 400
      font-size: 20px
      line-height: 34px
      letter-spacing: 0.01em
      color: $light_grey

  &__textarea
    background: transparent
    height: 119px
    border: 1px solid $light_grey
    padding: 8px 18.5px
    resize: none
    font-weight: 400
    font-size: 20px
    line-height: 34px
    letter-spacing: 0.01em
    color: $light_grey
    margin-bottom: 49px
    &::placeholder
      font-weight: 400
      font-size: 20px
      line-height: 34px
      letter-spacing: 0.01em
      color: $light_grey

  &__btn
    display: flex
    align-items: center
    justify-content: center
    align-self: center
    width: 182px
    height: 54px
    padding: 7px 53.05px 13px 54.81px
    transform: translateX(5px)
    border: 2px solid $white
    background: transparent
    font-weight: 700
    font-size: 22px
    line-height: 34px
    letter-spacing: 0.01em
    color: $white
    transition: all 0.3s ease
    &:hover
      color: $mid_blue
      background: $white
