.icon

  &--twitter
    display: block
    width: 20px
    height: 15.5px
    fill: #666666

  &--arrow-bottom
    display: block
    width: 8.71px
    height: 5.06px
    fill: $dark_blue

  &--slider-next
    position: absolute
    z-index: 5
    top: 142px
    right: 0
    display: block
    width: 18px
    height: 37.33px
    fill: $mid_blue
    cursor: pointer

  &--web-3
    display: block
    margin-top: 31px
    width: 53.48px
    height: 56px
    fill: #E6E6E6

  &--blockchain
    display: block
    margin-top: 26px
    width: 56px
    height: 56px
    fill: #E6E6E6

  &--ai-solutions
    display: block
    margin-top: 31px
    width: 55.04px
    height: 53.12px
    fill: #E6E6E6

  &--solutions-bg-img
    display: block
    width: 726px
    height: 660px
    fill: #E6E6E6

  &--rental-icon
    position: absolute
    right: 0
    display: block
    width: 60px
    height: 60px
    fill: $white

  &--rental-icon2
    position: absolute
    right: 0
    display: block
    width: 32px
    height: 60px
    fill: $white

  &--quote-arrow
    display: block
    width: 14.37px
    height: 7px
    fill: $white

  &--menu-whatsapp
    display: block
    width: 24px
    height: 24px
    fill: $dark_blue

  &--mobile-whatsapp
    display: block
    width: 18px
    height: 18.35px
    fill: $dark_blue

  &--plus
    width: 13.3px
    height: 13px
    fill: $mid_blue
