.icon

  &--twitter
    display: block
    width: 20px
    height: 15.5px
    fill: #666666

  &--arrow-bottom
    display: block
    width: 8.71px
    height: 5.06px

  &--slider-next
    position: absolute
    z-index: 5
    top: 142px
    right: 0
    display: block
    width: 18px
    height: 37.33px
    fill: $mid_blue
    cursor: pointer
    +sm
      display: none !important

  &--web-3
    display: block
    margin-top: 27px
    width: 53.48px
    height: 56px
    fill: #E6E6E6
    +xxxl
      margin-top: 31px
    +md
      margin: 0
      display: inline-block

  &--blockchain
    display: block
    margin-top: 23px
    margin-bottom: 4px
    width: 56px
    height: 56px
    fill: #E6E6E6
    +xxxl
      margin-top: 28px
    +md
      margin: 0
      display: inline-block

  &--ai-solutions
    display: block
    margin-top: 27px
    margin-bottom: 4px
    width: 55.04px
    height: 53.12px
    fill: #E6E6E6
    +xxxl
      margin-top: 31px
    +md
      margin: 0
      margin-top: 3px
      display: inline-block

  &--solutions-bg-img
    display: block
    width: 726.5px
    height: 660px
    fill: #E6E6E6

  &--solutions-bg-img-2
    display: block
    width: 623.5px
    height: 660px
    fill: #E6E6E6

  &--solutions-bg-img-3
    display: block
    width: 623.5px
    height: 660px
    fill: #E6E6E6

  &--rental-icon
    position: absolute
    right: 0
    display: block
    width: 60px
    height: 60px
    fill: $white

  &--rental-icon2
    position: absolute
    right: 0
    display: block
    width: 32px
    height: 60px
    fill: $white

  &--quote-arrow
    display: block
    width: 14.37px
    height: 7px
    fill: $white

  &--menu-whatsapp
    display: block
    width: 24px
    height: 24px
    fill: $dark_blue

  &--mobile-whatsapp
    display: block
    width: 18px
    height: 18.35px
    fill: $dark_blue

  &--arrow-left
    display: block
    width: 45.32px
    height: 20px
    fill: $white

  &--plus
    width: 13.3px
    height: 13px
    fill: $mid_blue

  &--phohe-icon
    display: block
    width: 17.14px
    height: 17.48px
    fill: $mid_blue
    display: none
    +md
      display: block
      margin-right: 9px

  &--personal-next
    width: 19px
    height: 38px
    fill: $mid_blue
    position: absolute
    top: 201px
    right: 0
    z-index: 1
    cursor: pointer
