.blockchain-screen

  &__img-1
    pointer-events: none
    z-index: 51
    position: absolute
    top: 0
    right: 0
    animation: ai-solutions-1 0.8s ease 1

  &__img-2
    pointer-events: none
    z-index: 52
    position: absolute
    top: 39px
    right: 0
    animation: ai-solutions-2 0.8s ease 1

  &__img-3
    pointer-events: none
    z-index: 53
    position: absolute
    top: 100px
    right: 177px
    animation: ai-solutions-3 0.8s ease 1

@keyframes ai-solutions-1
  0%
    transform: translateY(-150%) rotate(45deg) scale(0)

  100%
    transform: none

@keyframes ai-solutions-2
  0%
    transform: translate(100%, 100%) rotate(90deg) scale(0)

  100%
    transform: none

@keyframes ai-solutions-3
  0%
    transform: translate(100%, 100%) rotate(90deg) scale(0)

  100%
    transform: none
