.about
  padding: 105px 0 0
  +xxxl
    padding-top: 118px
  +xl
    padding-top: 85px
  +lg
    padding-top: 58px
  +md 
    padding-top: 38px

  &__wrapper
    +xxl
      position: relative

  &__row
    padding-bottom: 112px
    +xxxl
      padding-bottom: 123px
    +md
      padding: 0

  &__col
    padding-top: 25px
    z-index: 1
    animation: about-text 0.8s ease 1
    +xxxl
      padding-top: 12px
    +md
      font-size: 16px
      line-height: 24px
      margin-bottom: 54px
    +sm
      height: 371px

  &__img-1
    position: absolute
    top: 73px
    right: 74px
    +xxxl
      display: none
    +min_md
      animation: about-1 0.8s ease 1
    +xxl
      display: block
      top: -100px
      max-width: 920px
      right: -155px
    +xl
      top: -70px
      max-width: 770px
      right: -150px
    +lg
      max-width: 1020px
      right: -505px
      top: -95px
    +md
      right: -100px
      max-width: 820px
      top: 135px
    +sm
      right: -120px
      top: 135px

  &__img-2
    position: absolute
    top: 159px
    left: 98px
    +min_md
      animation: about-2 0.9s ease 1
    +xxxl
      left: -54px
    +xxl
      top: 0
    +xl
      max-width: 410px
      left: -75px
      top: 0
    +lg
      top: 0
      left: -125px
    +md
      top: -20px
      left: -150px
      max-width: 305px
    +sm
      max-width: 204px
      top: -21px
      left: -52px

  &__img-3
    position: absolute
    right: 434px
    top: 434px
    +xxxl
      display: none
    +min_md
      animation: about-3 0.8s ease 1
    +xxl
      display: block
      top: 200px
      right: 215px
    +xl
      max-width: 270px
      right: 205px
    +lg
      top: 290px
      right: 123px
    +md
      top: 450px
      max-width: 227px
    +sm
      right: 47px
      top: 485px

  &__img-4
    position: absolute
    top: 0
    left: 683px
    +min_md
      animation: about-4 0.8s ease 1
    +xxxl
      left: 441px
    +xxl
      max-width: 455px
      left: 350px
      top: -234px
    +xl
      left: 300px
    +lg
      left: 225px
    +md
      display: none
      
  &__img-5
    display: none
    +xxxl
      position: absolute
      display: block
    +min_md
      animation: about-1 0.8s ease 1
    +xxxl
      top: 74px
      right: 0
      z-index: -1
    +xxl
      display: none

  &__img-6
    display: none
    +xxxl
      position: absolute
      display: block
    +min_md
      animation: about-3 0.8s ease 1
    +xxxl
      right: 196px
      top: 475px
    +xxl
      display: none

  &__title
    font-weight: 700
    font-size: 56px
    line-height: 65px
    letter-spacing: 0.01em
    position: relative
    z-index: 1
    animation: about-title 0.8s ease 1
    br
      +md
        display: none
    +xl
      font-size: 43px
      line-height: 60px
    +lg
      font-size: 32px
      line-height: 38px
      margin-bottom: 50px
      max-width: 320px
    +sm
      margin-bottom: 40px

  &__text
    max-width: 718px
    margin-left: auto
    color: $dark_blue
    position: relative
    z-index: 1
    +xxxl
      max-width: 630px
    +xl
      font-size: 16px
    +sm
      line-height: 24px
      margin: 0

  &__text--mb
    margin-bottom: 31px
    +xl
      margin-bottom: 20px
    +md
      margin-bottom: 23px

@keyframes about-1
  0%
    transform: translateX(100%) rotate(90deg) scale(0)

  100%
    transform: none

@keyframes about-2
  0%
    transform: translate(-100%, 100%) rotate(45deg) scale(0)

  50%
    opacity: 0.2

  100%
    transform: none

@keyframes about-3
  0%
    transform: translate(50%, 150%) rotate(45deg)

  50%
    opacity: 0.2

  100%
    transform: none

@keyframes about-4
  0%
    transform: translate(-50%, -150%) rotate(-90deg)

  100%
    transform: none

@keyframes about-title
  0%
    transform: translateX(-150%) scale(0.8)
    opacity: 0.3

  50%
    opacity: 0.5

  100%
    transform: none

@keyframes about-text
  0%
    transform: translateY(100%)
    opacity: 0.3

  50%
    opacity: 0.5

  100%
    transform: none