.clients
  padding-top: 7px
  +xxxl
    padding-top: 38px
  +md
    padding-top: 32px

  &--about-pb
    padding-bottom: 72px

  &__title
    color: $dark_blue
    margin-bottom: 56px
    +xl
      margin-bottom: 10px

  &__wrapper
    +xl
      overflow: auto

  &__list
      display: flex
      justify-content: space-between
      align-items: center
      +xl
        margin: 0 auto
        width: 930px
      +sm
        width: 769px

  &__item
    display: flex
    justify-content: space-around
    align-items: center
    max-width: 100%
    +lg
      // flex: 1
      height: 72px
    +sm
      flex: 0
