.clients
  padding-top: 7px
  +xxxl
    padding-top: 38px

  &__col
    display: flex
    align-items: center
    justify-content: space-between

  &__title
    color: $dark_blue
    margin-bottom: 56px
