.clients
  padding-top: 7px
  +xxxl
    padding-top: 38px
  +md
    padding-top: 32px

  &--about-pb
    padding-bottom: 85px
    +sm
      padding-bottom: 50px

  &__title
    color: $dark_blue
    margin-bottom: 60px
    // margin-bottom: 56px
    +xl
      margin-bottom: 30px
    

  &__wrapper
    +xl
      overflow: auto

  &__list
      display: flex
      justify-content: space-between
      align-items: center
      +xxxl
        max-width: 1189px
      +xl
        margin: 0 auto
        width: 1189px
      // +sm
      //   width: 769px

  &__item
    display: flex
    justify-content: space-around
    align-items: center
    max-width: 100%
    +lg
      // flex: 1
      height: 72px
    +sm
      flex: 0