.team

  &__row
    display: flex
    justify-content: space-between
    +lg
      flex-direction: column-reverse

  &__text-box
    max-width: 568px
    +xxxl
      max-width: 493px
    +xl
      max-width: 360px
    +lg
      max-width: 100%

  &__text
    +xl
      font-size: 16px
      line-height: 30px
    +md
      line-height: 24px
      margin: 0

  &__text--mb
    margin-bottom: 29px
    +sm
      margin-bottom: 46px

.team-slider
  position: relative
  min-width: 720px
  +xxxl
    min-width: auto
  +xxl
    margin-bottom: 30px
  +sm
    margin-right: -15px

  &__title
    font-weight: 700
    font-size: 26px
    line-height: 32px
    letter-spacing: 0.02em
    color: $dark_blue
    margin-bottom: 34px
    +sm
      font-size: 16px
      line-height: 24px
      margin-bottom: 15px

  &__mask
    +min_xxxl
      display: none
    +xxxl
      position: absolute
      right: 0
      top: 0
      height: 100%
      width: 30px
      background: $white
    +xxl
      display: none
