.blog

  &__wrapper

  &__title
    color: $mid_blue
    &:hover
      color: $mid_blue

  // TODO: НАДО УБРАТЬ ШИРИНУ С &__content
  &__content
    width: 690px

  &__content-wrap
    display: flex
    justify-content: space-between

  &__content-title

  &__date

  &__content-subtitle
