.main-screen

  &__wrap
    width: 100vw
    height: calc( 100vh - 330px )
    +sm
      position: relative

  &__content
    position: relative
    padding-top: 151px
    +md
      padding-top: 50px
    +sm
      padding-top: 30px
