.portfolio

  &--pb
    padding-bottom: 86px

  &--pt
    padding-top: 63px

  &--bg
    position: relative
    padding-top: 177px
    z-index: 1
    +min_lg
      background: #F2F2F2
      height: 800px
      top: -100px
    +lg
      padding-top: 100px
    +sm
      padding-top: 31px

  &__title
    display: inline-block
    margin-bottom: 49px
    color: $mid_blue
    &:hover
      color: $mid_blue
    +sm
      margin-bottom: 18px

  &__rental
    height: 600px
    position: relative
    display: block
    +md
      height: auto
    &::after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 100%
      height: 100%
      background: rgba($dark_blue, 0.15)
      pointer-events: none
      opacity: 0
      visibility: hidden
      transition: all 0.3s ease
    &:hover
      +min_md
        &::after
          opacity: 1
          visibility: visible
    +sm
      height: auto

    &-content
      background: $gradient_plate
      padding: 34px 30.58px 17px 0
      height: 234px
      +xl
        padding: 25px 30px 17px 0
      +sm
        padding: 18px 17.5px 10px 0
        height: auto

    &-title
      color: $white
      max-width: 456.6px
      margin-left: 41.79px
      position: relative
      z-index: 1
      +xxl
        font-size: 35px
      +xl
        font-size: 30px
        margin-left: 35px
      +sm
        font-size: 22px
        line-height: 28px
        margin-left: 21.5px

    &-icon-wrap
      position: relative
      height: 60px
      width: 100%
      transform: translateY(6px)
      position: relative
      z-index: 1
      +xl
        height: 50px
      +sm
        height: 35px
      &::after
        content: ''
        position: absolute
        height: 1px
        width: 568.71px
        background: $white
        top: 50%
        transform: translateY(-50%)
        transition: all 0.5s ease
        +xxxl
          width: 484px
        +xxl
          width: 430px
        +xl
          width: 335px
        +lg
          width: 580px
        +md
          width: 400px
        +sm
          width: 80%

    &-icon-wrap
      .icon--rental-icon
        transition: opacity 0.8s ease, transform 0.5s ease
      .icon--rental-icon2
        transition: all 0.4s ease
        opacity: 0

    &-date
      color: $white
      margin-left: 41.79px
      position: relative
      z-index: 1
      +xl
        margin-left: 35px
      +sm
        font-size: 11px
        line-height: 13px
        margin-left: 21.5px

    &-img-wrap
      height: 366px
      +md
        height: auto

    &-img
      object-fit: cover
      width: 100%
      height: 100%
      +xxxl
        height: 366px
      +md
        height: auto

  &__rental:hover
    +min_md
      .portfolio__rental-icon-wrap
        &::after
          content: ''
          width: 643px
          +xxxl
            width: 550px
          +xxl
            width: 505px
          +xl
            width: 400px
          +lg
            width: 642px
      .icon--rental-icon
        transform: rotate(90deg)
        opacity: 0
      .icon--rental-icon2
        opacity: 1

  &__box
    max-height: 548px

  &__box:hover
    .portfolio__right-title
      color: $hover

  &__box:hover
    .portfolio__img-box
      &::after
        content: ''
        opacity: 1
        visibility: visible

  &__box:hover
    +min_md
      .portfolio__right-date
        &::before
          content: ''
          width: 270px
          +xxl
            width: 240px
          +xl
            width: 180px
          +lg
            width: 270px

  &__right-wrap
    display: flex
    flex-direction: column

  &__img-box
    position: relative
    height: 285px
    margin-bottom: 16px
    &::after
      content: ''
      transition: all 1s linear
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 100%
      height: 100%
      background: rgba($dark_blue , 0.15)
      z-index: 3
      opacity: 0
      visibility: hidden
    +xl
      height: 265px
    +sm
      height: 165px

  &__right-img
    width: 100%
    height: 100%
    object-fit: cover

  &__right-title
    font-weight: 700
    font-size: 24px
    line-height: 31px
    letter-spacing: 0.02em
    color: $dark_blue
    max-width: 254px
    +xl
      font-size: 20px
    +lg
      font-size: 22px
    +sm
      font-size: 16px
      line-height: 20px
      max-width: 184px

  &__right-title--first
    margin-bottom: 18px

  &__right-title--second
    margin-bottom: 49px
    +sm
      margin-bottom: 37px

  &__right-date
    position: relative
    color: $dark_blue
    padding-top: 22.44px
    &::before
      content: ''
      transition: all 0.3s ease
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 1px
      background: $dark_blue
    +sm
      font-size: 11px
      line-height: 13px
      padding-top: 13px

  &__right-link
    align-self: flex-end
    position: relative
    margin-top: 33.46px
    padding-left: 67px
    color: $mid_blue
    transition: all 0.3s ease
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 0
      height: 1px
      width: 50px
      background: $mid_blue
    &::after
      content: ''
      position: absolute
      top: 50%
      right: 0
      height: 1px
      width: 50px
      background: $mid_blue
      opacity: 0
      visibility: hidden
      transition: all 0.3s ease
    +lg
      display: none

  &__right-link:hover
    color: $mid_blue
    +min_md
      padding-left: 0
      padding-right: 67px
      &::before
        content: ''
        opacity: 0
        visibility: hidden
      &::after
        content: ''
        right: 0
        opacity: 1
        visibility: visible
