.services

  &__wrapper
    position: relative
    +sm
      margin-left: 15px

  &__title
    display: inline-block
    margin-bottom: 50px
    color: $mid_blue
    &:hover
      color: $mid_blue
    +sm
      margin-bottom: 18px
      font-size: 16px
      line-height: 19px
