.header
  padding: 33px 0 300px

  &__wrap
    display: flex
    justify-content: space-between
    align-items: center

  &__logo-link
    display: block
    width: 154px
    height: 83.19px

  &__logo
    width: 154px
    height: 83.19px
    object-fit: cover

  &__menu
    position: relative
    z-index: 5
    min-width: 631px

  &__list
    display: flex
    justify-content: space-between

  &__link
    display: flex
    align-items: center
    color: $dark_blue
    &:hover
      color: $dark_blue

  &__link--first
    svg
      transform: translate(6px, -1px)

  &__link--second
    svg
      transform: translate(5px, -1px)

  &__img-wrap
    width: 100vw
    height: 100vh

  &__img
    position: absolute

  &__img:nth-child(1)
    width: 496px !important
    height: 184px !important
    // top: 0 !important
    // right: 553px !important
    z-index: 1

  &__img:nth-child(2)
    // right: 417px !important
    // bottom: -26px !important
    width: 597px !important
    height: 489px !important

  &__img:nth-child(3)
    top: 47px !important
    right: 134px !important
    z-index: 2

  &__img:nth-child(4)
    width: 624px
    height: 487px
    // top: -1px !important
    // right: -15px !important
    z-index: 1

  &__img:nth-child(5)
    // top: 0 !important
    // right: 100px !important
    width: 919px !important
    height: 805px !important

video
  autoplay: true
