.header
  padding: 33px 0 0

  &__wrap
    display: flex
    justify-content: space-between
    align-items: center

  &__logo-link
    display: block
    width: 154px
    height: 83.19px

  &__logo
    width: 154px
    height: 83.19px
    object-fit: cover

  &__menu
    position: relative
    z-index: 5
    min-width: 631px

  &__list
    display: flex
    justify-content: space-between

  &__link
    display: flex
    align-items: center
    color: $dark_blue
    &:hover
      color: $dark_blue

  &__link--first
    svg
      transform: translate(6px, -1px)

  &__link--second
    svg
      transform: translate(5px, -1px)
