body
  min-width: 320px
  font-family: $deff
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  box-sizing: border-box

html,
body
  font-size: 16px

// Modules
@import modules/buttons
@import modules/typoghraphy
@import modules/form
@import modules/popups
@import modules/mfp-zoom
@import modules/icons
@import modules/animations
@import modules/slider
